/*******************************************************************************
 * Printing                                                                    */
 div.fo, div#st, div.nh, div.nf, table#vr {
    display: none;
}
@page {
    size: A4 portrait;
    margin: 2cm;
}
h1, h2, h3, h4, h5, h6 {
    break-after: avoid;
    break-inside: avoid;
}
table, figure, section {
    break-inside: avoid;
}
html, body {
    overflow: hidden !important; /* important is required by IE */
}