<?xml version="1.0" encoding="UTF-8"?>
<plugin>
 <extension point="org.eclipse.help.toc">
  <toc file="toc.xml" primary="true"/>
 </extension>
 <extension point="org.eclipse.help.contentProducer">
  <binding producerId="com.verigy.itee.helpviewer.DynamicHelpProducer"/>
 </extension>
 <extension point="org.eclipse.help.contexts">
  <contexts file="contexts.xml" plugin="com.verigy.itee.ui"/>
 </extension>
 <extension point="net.sf.helpaddons.crosslinkmanager.contentPools">
  <pool id="com.verigy.itee.help." bundlesToPrefer="com.verigy.itee.help.service.ui.7.10.3, com.verigy.itee.help.DutBoardDesignGuide.ui"/>
  <errorPage href="127536.htm"/>
  <errorPage href="127523.htm" prefix="service"/>
  <errorPage href="138079.htm" prefix="dutboard"/>
 </extension>
</plugin>
